<script>
  $(function() {
    $('.new-lesson-button').click(function(event) {
      var lessonUrl = $(event.target).data('lesson-url');
      $('#newLessonForm').attr('action', lessonUrl);
    });
    $('.lesson').sortable({
      update: function(event, ui) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        })
      }
    });
    $('.section').sortable({
      update: function(event, ui) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        })
      }
    })
  });
</script>
<br />
<div class="booyah-box col-10">
  <h1 class="text-center"><%= current_course.title %></h1>
  <hr class="col-8"
  style="height:2px;border:none;color:#FFF;background-color:#FFF;" />

  <%=link_to 'Add a Course Image',
  '#',
  class: 'btn btn-primary'%>

  <%=link_to 'Preview As Student',
  course_path(current_course),
  class: 'btn btn-warning float-right'%><br class="clr"/><br />

  <div class="text-center">
    <div class="booyah-box-black col-8" style="margin:auto;">
      <%= image_tag current_course.image.url,
      class: 'img-fluid' unless current_course.image.blank? %>
    </div>
  </div>
  <br />
  
  <div class="text-center">
    <button type="button" class="btn btn-primary btn-lg"
    data-toggle="modal" data-target="#newSectionModal">
      Add a New Section
    </button>
  </div>
  
  <div class="container-fluid">
    <div class="row section justify-content-center">
      <% current_course.sections.rank(:row_order).each do |section| %>
        <div class="row col-sm-5 booyah-box" 
        data-update-url=<%= instructor_section_path(section) %>>
          <div class="col-sm">
            <h3>
              <span class="fa fa-ellipsis-v float-left"></span>
              <%=section.title%>
            </h3><hr>
            <h6>
              (Section <%= section.row_order_rank %>)
            </h6>
            <button type="button" class="btn btn-primary btn-sm new-lesson-button"
            data-toggle="modal" data-target="#newLessonModal"
            data-lesson-url="<%= instructor_section_lessons_path(section) %>">
              Add a New Lesson
            </button>
          </div>
          <ul class="col-sm lesson">
            <% section.lessons.rank(:row_order).each do |lesson| %>
            <li data-update-url=<%= instructor_lesson_path(lesson) %>>
              <%=link_to lesson_path(lesson),
              style: 'color: white;' do %>
              <b><%=lesson.title %></b>
              -
              <%=lesson.subtitle%>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      <% end %><br /><br />
    </div>
  </div>
</div>

<!-- New Section Modal -->
<div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog"
aria-labelledby="newSectionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content booyah-box">
      <div class="modal-header">
        <h4 class="modal-title" id="newSectionModalLabel">Add a New Section</h4>
      </div>
      <%= simple_form_for @section,
      url: instructor_course_sections_path(current_course) do |f| %>
        <div class="modal-body">
          <%= f.input :title %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
          data-dismiss="modal">Close</button>
          <%= f.submit "Add Section", class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- New Lesson Modal -->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog"
aria-labelledby="newLessonModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content booyah-box">
      <div class="modal-header">
        <h4 class="modal-title" id="newLessonModalLabel">Add a New Lesson</h4>
      </div>
      <%= simple_form_for @lesson,
      url: '#', html: { id: 'newLessonForm' } do |f| %>
        <div class="modal-body">
          <%= f.input :title %>
          <%= f.input :subtitle %>
          <%= f.input :video %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
          data-dismiss="modal">Close</button>
          <%= f.submit "Add Lesson", class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
