<script>
  $(function() {
    $('.lesson').sortable({
      update: function(event, ui) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        })
      }
    });
    $('.section').sortable({
      update: function(event, ui) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        })
      }
    })
  });
</script>
<br />
<div class="booyah-box col-10">
  <h1 class="text-center"><%= current_course.title %></h1><br />
  <%#= image_tag @course.image.url, class: 'img-fluid'%>

  <%=link_to 'Add a Course Image',
  '#',
  class: 'btn btn-primary'%>

  <%=link_to 'Preview As Student',
  course_path(current_course),
  class: 'btn btn-warning float-right'%><br class="clr"/>

  <div class="text-center">
  <%=link_to 'Add a New Section',
  new_instructor_course_section_path(current_course),
  class: 'btn btn-primary btn-lg'%><br /><br />
  </div>
  
  <div class="container-fluid">
    <div class="row section justify-content-center">
      <% current_course.sections.rank(:row_order).each do |section| %>
        <div class="row col-sm-4 booyah-box" 
        data-update-url=<%= instructor_section_path(section) %>>
          <div class="col-sm">
            <h3>
              <%=section.title%>
            </h3><hr>
            <h6>
              (Section <%= section.row_order_rank %>)
            </h6>
            <%=link_to 'New Lesson',
            new_instructor_section_lesson_path(section),
            class: 'btn btn-primary btn-sm',
            style: 'height: 30px; margin: 5px;'%>
          </div>
          <ul class="col-sm lesson">
            <% section.lessons.rank(:row_order).each do |lesson| %>
            <li data-update-url=<%= instructor_lesson_path(lesson) %>>
              <%=link_to lesson_path(lesson),
              style: 'color: white;' do %>
              <b><%=lesson.title %></b>
              -
              <%=lesson.subtitle%>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      <% end %><br /><br />
    </div>
  </div>
</div>
